<div class="flex justify-center mt-14">
  <h1 class="md:text-5xl text-4xl">Live Crypto Currency Data</h1>
</div>

<div class="flex justify-center mt-5">
  <div class="overflow-x-auto w-full">
    <.live_component module={TableComponent} id={@table_component_id} />
  </div>
</div>
